<!doctype html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="u1CRJsIFLTakmLI9kW-sszIG89ZO1mBBwOoSK3YmJ6I" />
  <link rel="shortcut icon" href="build/imgfavicon.ico" />
  <!--,
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
  <link rel="stylesheet" href="//demos.jquerymobile.com/1.4.0/_assets/css/jqm-demos.css" />
  -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ofcalkjbogaiipekcocdefjenclioeci">
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.js"></script>
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("213418746");
  </script>
  <script type="text/javascript">
  //OAuth.initialize('NEwMpZrOXEgrg4ISqHv8wYRWF3s')
    var Parse = Parse;
    console.log("pasre")
    console.log(Parse)

  /*
    hello.init({
      facebook: "1569516339964849",
      twitter: "AyfmG6jA0ukj0t2IvXfEoUbOw",
      linkedin: "77n9346qr2wqom",
      windows: "00000000481550D5",
      google:"1949492796-qq27u1gnqoct2n6p3hctb0cto58qel5i.apps.googleusercontent.com"  
    }, {redirect_uri: 'http://customerohq.com/#campaigns'});
    */
  </script>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script type="text/javascript">
    var pusher = new Pusher('950f66be1f764448120e');
    var channel = pusher.subscribe('customero');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
  <script src="//use.typekit.net/wzk7jom.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;

    s.src='https://widget.intercom.io/widget/06859d89f181f85c425dc91f1a722c395262af88';

    var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <title>Customero</title> 

  <!-- inject:css -->
  <link rel="stylesheet" href="css/alertify-bootstrap-3.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap-tagsinput.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/core.css"/>
  <link rel="stylesheet" href="css/default-alertify.css"/>
  <link rel="stylesheet" href="css/default.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/summernote.css"/>
  <link rel="stylesheet" href="css/sweet-alert.css"/>
  <!-- endinject -->
</head>

<style>
  html, body{
    height:'100%'
  }
  #content {
    height:'100%';
  }
  .close {
    opacity: 0 !important;
  }
</style>
<body class="" style="height:100%">


  <script type="text/javascript">
    /*
    heap.identify({ plan: JSON.parse(localStorage.currentUser).accountType,
                    email: JSON.parse(localStorage.currentUser).username});

    $(document).ready(function() {
      //checkAuth()
      console.log("parse")
      console.log("started routing")
      checkAuth()
      //var workspace = new Workspace;
      //Backbone.history.start();
    });
    */

    /*
    var handler = StripeCheckout.configure({
      key: 'pk_live_4T5PmRncolAcAa6sZH1jxflY',
      //key: 'pk_test_4T5Pftl4ho0EgFVo1G7OKRda',
      //image: 'build/img/network.png',
      token: function(token) {
        // Use the token to create the charge with a server-side script.
        // You can access the token ID with `token.id`
        plan = JSON.parse(localStorage.currentUser).plan
        user = JSON.parse(localStorage.currentUser).objectId
        email = JSON.parse(localStorage.currentUser).username
        $.ajax({
          //url:'https://nameless-retreat-3525.herokuapp.com/stripe_charge',
          url:'http://localhost:5000/stripe_charge',
          type:'GET',
          data: {token: JSON.stringify(token), user: user, plan: plan, email: email},
          success: function(res) { 
            console.log(res) 
            if(successfully_charged){
              console.log('UI Change')
            } else {
              console.log('UI Change')
            }
          },
          error: function(err) { console.log(err) }
        })

        console.log(token)
        currentUser = JSON.parse(localStorage.currentUser)
        $.ajax({
          url:'https://api.parse.com/1/users/'+currentUser.objectId,
          type: 'PUT',
          headers: appConfig.headers,
          data : JSON.stringify({stripeToken: token}),
          success: function(res) {
            console.log('added')
          },
          error: function(err) {
            console.log()
          } });
      }
    });
    */
    _.mixin({
      capitalize: function(string) {
        return string.charAt(0).toUpperCase() + string.substring(1).toLowerCase();
      },
      title: function(words) {
        if(typeof(words) == "undefined")
          return ""
        string = _.map(words.split(' '), function(word) {
          return word.charAt(0).toUpperCase() + word.substring(1).toLowerCase();
        })
        return string.join(' ')
      }

    });


  </script>
  <script type="text/javascript"> </script>
  <div id="content" style="height:100%;"></div>
  <!--
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/JSXTransformer.js"></script>
  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  <!---
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
  -->

  <!-- inject:js -->
  <script src="js/clearspark_parse.js"></script>
  <!-- endinject -->
  <script src="js/app.js"></script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/2.1.9/echarts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/2.1.9/echarts-all.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.11/crossfilter.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css" />
  -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
  analytics.load("AdjuPydqfLqASAjA5H0vN80vU0PZfYZE")
  analytics.page()
  }}();
</script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <!--
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>
    -->


</body>
</html>
