<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//load.sumome.com/" data-sumo-site-id="532b9a97aee99c27f4ff53332fb02801e1072758a820b9a93ba84c82c071ea0d" async="async"></script>

<script>
  $(document).ready(function() {
    data = {
  "particles": {
    "number": {
      "value": 38,
      "density": {
        "enable": true,
        "value_area": 400
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.8,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 1.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 2.5,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false,
        "mode": "repulse"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
}
    particlesJS('particles-js', data)
  })
</script>
<div class="particles-js" id="particles-js">
        <nav class="thenavbar navbar navbar-default" role="navigation" style="padding:70px; background-color: rgba(0,0,0,0); border: 0px;">
          <div class="container-fluid" style="font-family:proxima-nova; font-size:12px">
            <div style="font-decoration:none;color:white;font-size:30px;font-weight:bold">
                <div class="logo" style="height:40px"></div>
                <img src="img/sparksales.png" style="height:35px"/>
                SparkSales
                <span style="font-size:12px;font-weight:300">
                  Accelerate Your Sales
                </span>
            </div>
              <ul class="nav nav-pills landing-page-nav" role="tablist" style="margin-right:0px;font-size:11px;margin-top:-70px;display:none">
                <li ><a class="landing-page-nav-tab" style="display:block" href="http://app.customero.co/#login">LOGIN</a></li>
                <li><a class="landing-page-nav-tab" style="display:block" href="http://resources.customero.co/v1.0/blog">BLOG</a></li>
                <li><a class="landing-page-nav-tab" href="http://resources.customero.co">RESOURCES</a></li>
                <li><a class="landing-page-nav-tab" href="http://resources.customero.co/v1.0/discuss">KNOWLEDGE BASE</a></li>
                <li><a class="landing-page-nav-tab" href="#">+1905-616-7602 <i class="fa fa-phone"></i></a></li>
              </ul>
          </div>
          <a href="http://app.customero.co/#signup" class="btn-lg btn login-btn" style="font-family:proxima-nova">TRY IT</a>
              <ul class="nav nav-pills landing-page-nav" role="tablist" style="width:600px;font-size:13px;display:none">
                <li style="width:24%;text-align:center;display:block">&nbsp;</li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                  style="display:block" href="#">PRODUCT</a></li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                  style="display:block" href="#">DATA</a></li>
                <li 
                style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/features">FEATURES</a></li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                    style="display:block" href="#">INTEGRATIONS</a></li>
                <li style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/pricing">PRICING</a></li>
                <li  style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/services">SERVICES</a></li>
              </ul>
        </nav>

        <div class="row" style="margin:0px">
        <div class="gradient-2" style="height:100%"></div>
        <div class="the-background-image"></div>
        <div class="col-md-12 col-sm-12" style="padding-top:80px" id="">
          <h1 style="color:#1ca3fd;font-weight:100;color:white;text-align:center;font-size:38px;font-family:Open-Sans;font-size:40px"> 
            Generate High Quality Prospect Lists 
          </h1>
          <h1 style="color:#1ca3fd;font-weight:100;text-align:center;color:white;font-size:46px;font-family:Open-Sans;">  
            Find New Customers Faster
          </h1>
          <a href="#signup" class="btn-lg btn-success btn start-trial" style="display:block;">
            START YOUR FREE TRIAL TODAY </a>

          <div class="panel panel-default" style="display:none">
          <div class="panel-heading">&nbsp;</div>
            <div class="panel-body">
              <form onSubmit={this.login}>
              <input placeholder="Email" id="email" type="text" class="form-control input-lg" style="font-weight:100;font-size:22px"/>
              <br/>
              <input placeholder="Password" type="password" id="password" class="form-control input-lg" style="font-weight:100px;font-size:22px" />
              <br/>

              <a href="javascript:" onClick={this.login} class="btn btn-success btn-lg" style="display:block;background-color:#1ca3fd">Log In</a>
              </form>
            </div>
          <div class="panel-footer">&nbsp;</div>
        <div class="the-gradient-1"></div>
          </div>
        </div>
      </div>

        <div class="container product-header chrome-bar" 
             style="height:100px;padding-top:45px; margin-top:113px;position:absolute;bottom:0px;display:none;">
             <div class="col-md-4" style="text-align:center;font-family:proxima-nova; font-size:12"><i class="fa fa-line-chart"></i>&nbsp;GROW PIPELINE FAST</div>
          <div class="col-md-4" style="text-align:center;font-family:proxima-nova; font-size:12"><i class="fa fa-search"></i>&nbsp;IDENTIFY HIGH-VALUE PROSPECTS</div>
          <div class="col-md-4" style="text-align:center;font-family:proxima-nova; font-size:12px"><i class="fa fa-coffee"></i>&nbsp;CONNECT WITH DECISION MAKERS  </div>
        </div>

      <div class="tmp-footer" style="display:none"></div> 
      </div>
<script src="particles.js"></script>
<script src="//use.typekit.net/wzk7jom.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
