
<link rel="stylesheet" href="app.css" />
<link rel="stylesheet" href="main.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <nav class="thenavbar navbar navbar-default" role="navigation" style="padding:70px; background-color: rgba(0,0,0,0); border: 0px;">
          <div class="container-fluid" style="font-family:proxima-nova; font-size:12px">
            <a href="/">
            <img class="" src="img/full-logo-5.png" style="width:220px"/>
          </a>
              <ul class="nav nav-pills landing-page-nav" role="tablist" style="margin-right:0px;font-size:11px;margin-top:-70px">
                <li ><a class="landing-page-nav-tab" style="display:block" href="http://app.customero.co/#login">LOGIN</a></li>
                <li><a class="landing-page-nav-tab" style="display:block" href="http://resources.customero.co/v1.0/blog">BLOG</a></li>
                <li><a class="landing-page-nav-tab" href="http://resources.customero.co">RESOURCES</a></li>
                <li><a class="landing-page-nav-tab" href="http://resources.customero.co/v1.0/discuss">KNOWLEDGE BASE</a></li>
                <li><a class="landing-page-nav-tab" href="#">+1905-616-7602 <i class="fa fa-phone"></i></a></li>
              </ul>
          </div>
          <a href="http://app.customero.co/#signup" class="btn-lg btn login-btn" style="font-family:proxima-nova">TRY IT</a>
              <ul class="nav nav-pills landing-page-nav" role="tablist" style="width:600px;font-size:13px;">
                <li style="width:24%;text-align:center;display:block">&nbsp;</li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                  style="display:block" href="#">PRODUCT</a></li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                  style="display:block" href="#">DATA</a></li>
                <li 
                style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/features">FEATURES</a></li>
                <li style="width:24%;text-align:center;display:none">
                <a class="landing-page-nav-tab lp-bottom-nav" 
                    style="display:block" href="#">INTEGRATIONS</a></li>
                <li style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/pricing">PRICING</a></li>
                <li  style="width:24%;text-align:center"><a class="landing-page-nav-tab lp-bottom-nav" style="display:block" href="/services">SERVICES</a></li>
              </ul>
        </nav>

<div>
  <div class="pricing-background-image"></div>
    <Header/>
      <div>
        <div class="container" >
        <div class="row flat">
          <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="signal-card plan plan2">
                    <li class="plan-name"> Individual </li>
                    <li class="plan-price"> 
                      <h1 style="font-weight:bold;color:#0294f5">$99&nbsp;<small>/ month</small></h1>
                    </li>

                  <li> <strong>Up to 200 Email Credits</strong> </li>
                  <li> <strong>Up to 1 Team Members</strong></li>
                  <li style="padding:0px"> <strong></strong> Includes: </li>
                  <li> <strong>Emails & Phone Numbers</strong></li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li> </li>
                  <li class="" style="padding-bottom:0px"> 
                    <a href="http://app.customero.co/#signup"" class="blue-gradient btn btn-primary btn-md cool-btn">Sign Up</a> 
                  </li>
             </ul>
         </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <ul class="signal-card plan plan2">
                    <li class="plan-name"> Startup </li>
                    <li class="plan-price"> 
                      <h1 style="font-weight:bold;color:#0294f5">$499&nbsp;<small>/ month</small></h1>
                    </li>

                  <li> <strong>Up to 1000 Email Credits</strong> </li>
                  <li> <strong>Up to 10 Team Members</strong></li>
                  <li style="padding:0px"> <strong></strong> Includes: </li>
                  <li> <strong>Emails & Phone Numbers</strong></li>
                  <li> <strong>Quick Start Package</strong></li>
                  <li> <strong>Signals</strong></li>
                  <li class="" style="padding-bottom:0px"> 
                    <a href="http://app.customero.co/#signup"" class="blue-gradient btn btn-primary btn-md cool-btn">Sign Up</a> 
                  </li>
             </ul>
         </div>

         <div class="col-lg-3 col-md-3 col-xs-6">
            <ul class="signal-card plan plan3 featured">
                <li class="plan-name"> Growth </li>
                <li class="plan-price"> 
                  <h1 style="font-weight:bold;color:#0294f5">$1299&nbsp;<small>/ month</small></h1>
                </li>

            <li> <strong>Up to 2500 Email Credits</strong> </li>
            <li> <strong>Up to 25 Team Members</strong></li>
            <li style="padding:0px"> <strong></strong> Includes: </li>
            <li> <strong>All Startup Features </strong></li>
            <li style="padding:0px"> <i class="fa fa-plus" ></i></li>
            <li> <strong>Bulk CRM Integration</strong></li>
            <li> <strong>Mining Jobs</strong></li>
            <li class="" style="padding-bottom:0px"> 
              <a href="http://app.customero.co/#signup"" class="blue-gradient btn btn-primary btn-md cool-btn">Sign Up</a> 
            </li>
         </ul>
     </div>

     <div class="col-lg-3 col-md-3 col-xs-6">
        <ul class="signal-card plan plan4">
            <li class="plan-name"> Premium </li>
            <li class="plan-price"> 
              <h1 style="font-weight:bold;color:#0294f5">$2999&nbsp;<small>/ month</small></h1>
            </li>
            <li> <strong>Up to 7500 Email Credits</strong> </li>
            <li> <strong>Up to 50 Team Members</strong></li>
            <li style="padding:0"> <strong></strong> Includes: </li>
            <li> <strong>All Growth Features </strong></li>
            <li style="padding:0"> <i class="fa fa-plus" ></i></li>
            <li> <strong>Dedicated Happiness Officer</strong></li>
            <li> <strong>Improved territory planning</strong></li>
            <li class="" style="padding-bottom:0px"> 
              <a href="http://app.customero.co/#signup"" class="blue-gradient btn btn-primary btn-md cool-btn">Sign Up</a> 
            </li>
         </ul>
       </div>

</div>

</div> 
      </div>
  <div class="the-gradient-1" style="height:100%"> </div>
</div>
<script src="//use.typekit.net/wzk7jom.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
